{% extends "layout.html" %}

{% block mainContent %}

  <div>
    <p></p>Check out the <a href="/about">About us</a> page as well as the <a href="/events/0">Events</a> page.
  </p>
  <p>Our upcoming events include:
    <ul>
      <li class="event" id="event-1"><a href="/events/1">Voices</a></li>
      <li class="event" id="event-2"><a href="/events/2">StorySlam</a></li>
      <li class="event" id="event-3"><a href="/events/3">VoiceSlam</a></li>
    </ul>
  </p>
  <p><a id="new" href="/events/new">Create a new event</a></p>
  
  </div>

{% endblock %}
  
{% block footer %}
 
{% endblock %}