{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Save the Date</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to Save the Date. Our tagline will go here.
  </p>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.<br><br>
    Upcoming events include:<br><li><a href="/events/VoiceSlam">VoiceSlam</a></li><li><a href="/events/Voices">Voices</a></li><li><a href="/events/StorySlam">StorySlam</a></li>
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}