<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
  </head>

	<body class="container">

    {% block header %}
      <header> <img src="https://lh6.googleusercontent.com/paR7bSwmhVHDF-fIXgFvmG6brBfn_izJYaIDNAVRID8AePKE9gqx-C8dGDa34uQ74q5RIwa7xlzw4KM=w3200-h1352" id="logo" style = "width:250px"><br>Save the Date</header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to Save the Date. Live your life with no mo FOMO.</section>
    {% endblock %}

    {% block footer %}
      <footer><a href="/index">Home</a> > <a href="/about">About</a> > <a href="/events">Events</a></footer>
    {% endblock %}

  </body>
</html>